{% load bootstrap3 %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Todo List</title>
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js">
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>
    <div class="navbar navbar-default navbar-static-top">
        <div class="navbar-header">
            <img src="/static/images/Brand.png" alt="TODO List" />
            <a href="/">TODO List</a>
            </div>
    </div>
    {% block content %}{% endblock content %}
</body>
</html>